deploy.sh # My server deploy script

todo.org
notes.org

content/*   # Duplication of the website itself
public/*    # No need to see these files - they're on the web, after all, at ianhocking.com
logs/*
